In [35]:
import texttable as tt
import requests
from  bs4 import BeautifulSoup

In [36]:
url = "https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/"

In [37]:
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

In [38]:
data = []

In [39]:
data_iterator = iter(soup.find_all('td'))

In [40]:
while True:
    try:
        country = next(data_iterator).text
        confirmed = next(data_iterator).text
        deaths = next(data_iterator).text
        continent = next(data_iterator).text
        data.append((
            country,
            (confirmed.replace(', ', '')),
            (deaths.replace(', ', '')),
            continent
        ))
    except StopIteration:
        break

In [41]:
#data.sort(key = lambda row: row[1],reverse=True)

In [42]:
table = tt.Texttable()
table.add_rows([(None, None, None, None)] + data)
table.set_cols_align(('c', 'c', 'c', 'c'))
table.header((' Country', ' Number of cases', ' Deaths', ' Continent'))

In [43]:
print(table.draw())

+---------------------------+------------------+---------+-------------------+
|          Country          |  Number of cases |  Deaths |     Continent     |
+===========================+==================+=========+===================+
|       United States       |    1,848,555     | 106,542 |   North America   |
+---------------------------+------------------+---------+-------------------+
|          Brazil           |     519,704      | 29,534  |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Russia           |     414,878      |  4,855  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Spain           |     286,718      | 27,127  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|      United Kingdom       |     276,332      | 39,045  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Italy           |     233,197      | 33,475  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           India           |     198,343      |  5,608  |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          France           |     189,220      | 28,833  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Germany          |     183,663      |  8,613  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Turkey           |     164,769      |  4,563  |       Asia        |
+---------------------------+------------------+---------+-------------------+
|           Peru            |     164,476      |  4,506  |   South America   |
+---------------------------+------------------+---------+-------------------+
|           Iran            |     154,445      |  7,878  |       Asia        |
+---------------------------+------------------+---------+-------------------+
|           Chile           |     105,159      |  1,113  |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Canada           |      91,647      |  7,325  |   North America   |
+---------------------------+------------------+---------+-------------------+
|          Mexico           |      90,664      |  9,930  |   North America   |
+---------------------------+------------------+---------+-------------------+
|       Saudi Arabia        |      87,142      |   525   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|           China           |      83,017      |  4,634  |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Pakistan          |      72,460      |  1,543  |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Belgium          |      58,517      |  9,486  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Qatar           |      58,433      |   40    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|        Bangladesh         |      49,534      |   672   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|        Netherlands        |      46,545      |  5,962  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Belarus          |      43,403      |   240   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Ecuador          |      39,098      |  3,358  |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Sweden           |      37,814      |  4,403  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Singapore         |      35,292      |   24    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|   United Arab Emirates    |      35,192      |   266   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|       South Africa        |      34,357      |   705   |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         Portugal          |      32,700      |  1,424  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|        Switzerland        |      30,871      |  1,920  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Colombia          |      29,383      |   939   |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Kuwait           |      27,762      |   220   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Indonesia         |      26,940      |  1,641  |       Asia        |
+---------------------------+------------------+---------+-------------------+
|           Egypt           |      26,384      |  1,005  |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Ireland          |      25,062      |  1,652  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Poland           |      24,165      |  1,074  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Ukraine          |      24,012      |   718   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Romania          |      19,398      |  1,276  |      Europe       |
+---------------------------+------------------+---------+-------------------+
|        Philippines        |      18,638      |   960   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|    Dominican Republic     |      17,572      |   502   |   North America   |
+---------------------------+------------------+---------+-------------------+
|          Israel           |      17,169      |   285   |       Asia        |
+---------------------------+------------------+---------+-------------------+
| Japan (+Diamond Princess) |      17,563      |   904   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Argentina         |      16,851      |   541   |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Austria          |      16,733      |   668   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|        Afghanistan        |      15,750      |   265   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Panama           |      13,463      |   336   |   North America   |
+---------------------------+------------------+---------+-------------------+
|           Oman            |      12,223      |   50    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Bahrain          |      11,871      |   19    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Denmark          |      11,699      |   576   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|        South Korea        |      11,503      |   271   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Serbia           |      11,430      |   244   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|        Kazakhstan         |      11,308      |   41    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Nigeria          |      10,162      |   287   |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Bolivia          |      9,982       |   313   |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Algeria          |      9,513       |   661   |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Armenia          |      9,492       |   139   |       Asia        |
+---------------------------+------------------+---------+-------------------+
| Czech Republic (Czechia)  |      9,286       |   321   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Norway           |      8,442       |   236   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Moldova          |      8,360       |   305   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Ghana           |      8,070       |   36    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         Malaysia          |      7,857       |   115   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Morocco          |      7,833       |   205   |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         Australia         |      7,204       |   103   | Australia/Oceania |
+---------------------------+------------------+---------+-------------------+
|          Finland          |      6,885       |   318   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Iraq            |      6,868       |   215   |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Cameroon          |      6,143       |   197   |      Africa       |
+---------------------------+------------------+---------+-------------------+
|        Azerbaijan         |      5,662       |   68    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Honduras          |      5,202       |   212   |   North America   |
+---------------------------+------------------+---------+-------------------+
|         Guatemala         |      5,087       |   108   |   North America   |
+---------------------------+------------------+---------+-------------------+
|           Sudan           |      5,026       |   286   |      Africa       |
+---------------------------+------------------+---------+-------------------+
|        Luxembourg         |      4,019       |   110   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|        Tajikistan         |      4,013       |   47    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Hungary          |      3,892       |   527   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Guinea           |      3,844       |   23    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Senegal          |      3,739       |   42    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|        Uzbekistan         |      3,673       |   15    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Djibouti          |      3,569       |   24    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         DR Congo          |      3,195       |   72    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         Thailand          |      3,082       |   57    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Greece           |      2,918       |   179   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|       Côte d'Ivoire       |      2,833       |   33    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|           Gabon           |      2,655       |   17    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|        El Salvador        |      2,582       |   46    |   North America   |
+---------------------------+------------------+---------+-------------------+
|  Bosnia and Herzegovina   |      2,524       |   154   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Bulgaria          |      2,519       |   140   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|      North Macedonia      |      2,315       |   140   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Croatia          |      2,246       |   103   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Haiti           |      2,124       |   44    |   North America   |
+---------------------------+------------------+---------+-------------------+
|           Cuba            |      2,083       |   83    |   North America   |
+---------------------------+------------------+---------+-------------------+
|          Somalia          |      2,023       |   79    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|           Kenya           |      2,021       |   69    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Mayotte          |      1,934       |   24    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Estonia          |      1,870       |   68    |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Maldives          |      1,829       |    6    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|        Kyrgyzstan         |      1,817       |   16    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|           Nepal           |      1,811       |    8    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Iceland          |      1,806       |   10    |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Lithuania         |      1,678       |   70    |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Sri Lanka         |      1,643       |   11    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|         Slovakia          |      1,522       |   28    |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Venezuela         |      1,510       |   14    |   South America   |
+---------------------------+------------------+---------+-------------------+
|        New Zealand        |      1,504       |   22    | Australia/Oceania |
+---------------------------+------------------+---------+-------------------+
|         Slovenia          |      1,473       |   109   |      Europe       |
+---------------------------+------------------+---------+-------------------+
|           Mali            |      1,315       |   78    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|     Equatorial Guinea     |      1,306       |   12    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         Ethiopia          |      1,257       |   12    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|       Guinea-Bissau       |      1,256       |    8    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Lebanon          |      1,233       |   27    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Albania          |      1,143       |   33    |      Europe       |
+---------------------------+------------------+---------+-------------------+
|          Zambia           |      1,089       |    7    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|         Hong Kong         |      1,088       |    4    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|          Tunisia          |      1,084       |   48    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|        Costa Rica         |      1,084       |   10    |   North America   |
+---------------------------+------------------+---------+-------------------+
| Central African Republic  |      1,069       |    4    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Latvia           |      1,066       |   24    |      Europe       |
+---------------------------+------------------+---------+-------------------+
|         Paraguay          |       995        |   11    |   South America   |
+---------------------------+------------------+---------+-------------------+
|        South Sudan        |       994        |   10    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|           Niger           |       958        |   64    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Cyprus           |       949        |   17    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|       Sierra Leone        |       865        |   46    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|       Burkina Faso        |       847        |   53    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|        Madagascar         |       826        |    6    |      Africa       |
+---------------------------+------------------+---------+-------------------+
|          Uruguay          |       823        |   22    |   South America   |
+---------------------------+------------------+---------+-------------------+
|          Georgia          |       794        |   12    |       Asia        |
+---------------------------+------------------+---------+-------------------+
|           Chad            |       790        |   66    |      Africa       |
+---------------------------+------------------+---------+-------------------+