In [1]:
import requests
from bs4 import BeautifulSoup
import texttable as tt
import csv

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_Indian_states_by_wildlife_population"
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

In [3]:
data = []
header = (' State', ' Tigers', ' Elephants', ' Leopards', ' Lions')
data_iterator = iter(soup.find_all('td'))

In [4]:
while True:
    try:
        State = next(data_iterator).text
        Tigers = next(data_iterator).text
        Elephants = next(data_iterator).text
        Leopards = next(data_iterator).text
        Lions = next(data_iterator).text
        data.append((
            State,
            (Tigers.replace(', ', '')),
            (Elephants.replace(', ', '')),
            (Leopards.replace(', ', '')),
            Lions
        ))
    except StopIteration:
        break

In [5]:
table = tt.Texttable()
table.add_rows([(None, None, None, None, None)] + data)
table.set_cols_align(('c', 'c', 'c', 'c', 'c'))
table.header((' State', ' Tigers', ' Elephants', ' Leopards', ' Lions'))

In [6]:
print(table.draw())

+-------------------+---------+------------+-----------+--------+
|       State       |  Tigers |  Elephants |  Leopards |  Lions |
+===================+=========+============+===========+========+
|  Andhra Pradesh   |   58    |     80     |    343    |   0    |
+-------------------+---------+------------+-----------+--------+
| Arunachal Pradesh |   29    |    1614    |    489    |   0    |
+-------------------+---------+------------+-----------+--------+
|       Assam       |   190   |    5719    |   2,487   |   0    |
+-------------------+---------+------------+-----------+--------+
|       Bihar       |   31    |     25     |    32     |   0    |
+-------------------+---------+------------+-----------+--------+
|   Chhattisgarh    |   19    |    247     |    846    |   0    |
+-------------------+---------+------------+-----------+--------+
|        Goa        |    3    |     0      |    71     |   0    |
+-------------------+---------+------------+-----------+--------+
|      Gujarat      |    0    |     0      |   1,355   |  650   |
+-------------------+---------+------------+-----------+--------+
|     Jharkhand     |    5    |    1986    |    29     |   0    |
+-------------------+---------+------------+-----------+--------+
|     Karnataka     |   524   |    6049    |   1,129   |   0    |
+-------------------+---------+------------+-----------+--------+
|      Kerala       |   190   |    5706    |    472    |   0    |
+-------------------+---------+------------+-----------+--------+
|  Madhya Pradesh   |   526   |     7      |   1,817   |   0    |
+-------------------+---------+------------+-----------+--------+
|    Maharashtra    |   312   |     6      |    905    |   0    |
+-------------------+---------+------------+-----------+--------+
|     Meghalaya     |    0    |    1754    |     0     |   0    |
+-------------------+---------+------------+-----------+--------+
|      Mizoram      |    0    |     7      |     0     |   0    |
+-------------------+---------+------------+-----------+--------+
|     Nagaland      |    0    |    446     |     0     |   0    |
+-------------------+---------+------------+-----------+--------+
|      Odisha       |   28    |    1976    |    345    |   0    |
+-------------------+---------+------------+-----------+--------+
|     Rajasthan     |   69    |     0      |    434    |   0    |
+-------------------+---------+------------+-----------+--------+
|    Tamil Nadu     |   264   |    2761    |    815    |   0    |
+-------------------+---------+------------+-----------+--------+
|      Tripura      |    0    |    102     |     0     |   0    |
+-------------------+---------+------------+-----------+--------+
|   Uttar Pradesh   |   173   |    232     |    194    |   0    |
+-------------------+---------+------------+-----------+--------+
|    Uttarakhand    |   442   |    1839    |    703    |   0    |
+-------------------+---------+------------+-----------+--------+
|    West Bengal    |   88    |    194     |     0     |   0    |
+-------------------+---------+------------+-----------+--------+
|       Total       |  2,967  |   29,964   |  12,466   |  650   |
|                   |         |            |           |        |
+-------------------+---------+------------+-----------+--------+

In [9]:
with open('numOfTigers.csv', 'w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(header)
        #for row in data[1]:
        data1 = soup.find_all('td')
        writer.writerow(data)